@model AdmitCard
@{
    ViewData["Title"] = "Admit_Card";
}
@section Scripts{

    <script src="~/js/admit_card.js"></script>
}

<h1>Admit_Card</h1>
<div>
    <form id="regForm" method="post" onsubmit="return validation(event)">
        <div asp-validation-summary="All"></div>
        <div>
            <label name="ExamFor">Exam for</label>
            
            <select name="ExamFor">
                <option value="BCA">BCA</option>
                <option value="MCA">MCA</option>
            </select>
        </div>
        <br>
        <div>
            <label asp-for=" RollNumber">Enter Your Roll. Number</label>
            <input asp-for=" RollNumber" class="form-control" />
        </div>
        <br />

        <div>
            <input type="submit" class="form-control btn btn-success" value="Get Admit Card" />
        </div>
    </form>

</div>

